
.ban-services{
    background-color: var(--background-color);
}
.ban-services .section{
    padding: 8% 0;
}

/* ban-services ends here */
/* garden starts here */

.garden{
    height: 22rem;
    padding: 5% 0 0;
    /* margin-bottom: 25%; */

}
.garden .container{
    position: relative;
}
.garden .main{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.garden .box{
    width: 48%;
}
.garden .box .top{
    width: 100%;
}
.garden .box .top img{
    width: 100%;
}
.garden .box .bottom{
    background-color: white;
    padding: 6%;
}
.garden .box h3{
    font-size: 27px;
    padding: 1% 0;
}
.garden .box p{
    color: var(--text-secondary-color);
    padding: 1% 0;
}

/* garden ends here */
/*  choose starts here */

.choose{
    background-image: url(../image/image-8.jpg);
    /* height: 30rem; */
}
.choose .top{
    width: 50%;
    padding-top: 30%;
}
.choose .top h2{
    font-size: 36px;
}
.choose .top p{
    color: white;
}
.choose .bottom{
    display: flex;
    justify-content: space-between;
}
.choose .bottom .box{
    width: 33%;
    height: 20rem;
    background-color: white;
    padding: 2%;
    margin: 4% 1% 8%;
}
.choose .bottom .box .icon{
    width: 5rem;
    height: 5rem;
    margin: 0 0 3%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.choose .bottom .box .icon:hover{
    transform: scale(1.1);
}
.choose .bottom .box .icon i{
    color: white;
    font-size: 24px;
}
.choose .bottom .box .ibox{
    padding: 2% 0;
    margin: 3% 0;
}
.choose .bottom .box .ibox h3{
    padding: 2% 0;
}

/* choose ends here */
/* what starts here */

.what{
    padding: 3% 0;
}
.what .top{
    width: 50%;
    margin: 3% 0;
}
.what .top h2{
    font-size: 36px;
    color: var(--text-primary-color);
}
.what .bottom{
    display: flex;
    justify-content: space-between;
}
.what .bottom .box{
    width: 32%;
}
.what .bottom .box .upper{
    background-color: var(--background-color);
    border-radius: 5%;
    padding: 8%;
    position: relative;
}
.what .bottom .box .upper p{
    margin-top: 3rem;
}
.what .bottom .box .upper p::before{
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900; 
    font-size: 3.5rem;
    color: var(--primary-color);
    position: absolute; 
    top: 2rem;
    left: 2rem;
}
.what .bottom .box .upper ul{
    display: flex;
    padding: 1% 0 8%;
}
.what .bottom .box .upper ul li{
    list-style: none;
    color: #ffb74d;
}

.what .bottom .box .lower{
    width: 100%;
    position: relative;
}
.what .bottom .box .lower .img-box{
    width: 4rem;
    height: 4rem;   
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;
}
.what .bottom .box .lower .img-box img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.what .bottom .box .lower .text-box{
    margin: 5% 0 0;
}
.what .bottom .box .lower h4{
    font-size: 16px;
    padding: 10% 6% 0;
}

/* what ends here */
/* footer starts here */

.footer{
    margin-top: 5%;
}